* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 

:root {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

body {
    background-color : #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;

}

.container {
    background-color: #FFFFFF;
    padding: 20px 40px 20px 40px; 
    border-radius: 20px; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); 
}

.login {
    background-color: #FFFFFF;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;

}

.fatec-logo{
    width: 150px;
    height: 100px;
}


label {
    font-size: 25px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    padding-left: 15px;
    background-color: #cccccc73;
    border-radius: 15px;
    border-width: 1px;
    height: 50px;
    width: 300px;

    font-size: 25px;
}

.button {

    font-family: "Inter", sans-serif;
    font-size : 18px;
    font-weight: 600;
    background-color: #AF1A1A; 
    color: white; 
    border: none; 
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 45px;
    border-radius: 15px;

    margin: 20px auto;

}

.button:hover {
    background-color: #921515; 
}